<!-- <div class = 'row'>
  <div class = 'col-lg-10 col-md-10'>
    <h2>Edit Blog</h2>
  </div>
</div> -->
<%= form_tag("/edit_blog", {method: 'post', id: "edit_blog-#{blog_id}"}) do |f|%>
  <div class="form-group col-md-12" style = 'padding-left: 0px'>
    <%= text_field_tag("edit_blog_title_#{blog_id}".to_sym, nil, {class: 'form-control', placeholder: 'Title'}) %> 
  </div>
  <div class="form-group col-md-12" style = 'padding-left: 0px'>
    <%= text_area_tag("edit_blog_content_#{blog_id}".to_sym, nil, class: "form-control", rows: blog_row_num, placeholder: 'Content') %>
  </div>
  <div class="form-group col-md-12" style = 'padding-left: 0px' hidden = true>
    <%= text_field_tag("edit_blog_id_#{blog_id}".to_sym, nil, {class: 'form-control'}) %> 
  </div>
  <div class="form-group col-md-12" style = 'padding-left: 0px' hidden = true>
    <%= text_field_tag(:current_page, @current_page, {class: 'form-control'}) %> 
  </div>
  <div class="col-md-1" style = 'padding-left: 0px'>
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
<%end%>
<div class = 'col-md-11'>
  <button class="btn btn-info">Preview</button>
  <button class='btn btn-danger cancel-blog-button-edit' id = 'cancel-blog-button-edit-<%=blog_id%>' style = 'float: right'>Cancel</button>
</div>