<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>
    <%= render partial: "header" %>
    <script>
    $(document).ready(function(){
      var selected_bid = null;
      <% Blog.all.reverse.each do |b| %>
        $('#blog-content-<%=b.id%>').html($('#blog-content-<%=b.id%>').text());
      <% end %>
      $('.add-blog-button').on('click', function(){
        $('.add-blog').show()
      });
      $('#cancel-blog-button-add').on('click', function(){
        $('.add-blog').hide()
      });
      $('.edit-blog-button').on('click', function(){
        id_array = $(this).attr('id').split('-')
        selected_bid = id_array[id_array.length-1]
        $('.edit-blog').show()
        $('#blog-'+selected_bid).hide()
        $('#edit_blog_title').val($('#blog-title-'+selected_bid).text().trim())
        $('#edit_blog_content').val($('#blog-content-'+selected_bid).html().trim())
        $('#edit_blog_id').val(selected_bid)
      });
      $('#cancel-blog-button-edit').on('click', function(){
        $('.edit-blog').hide()
        $('#blog-'+selected_bid).show()
      });
    });
    </script>
</head>

<body>
    <div class = 'container'>
      
    </div>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class='row'>
            <div class = 'row'>
              <div class = 'col-lg-2 col-md-2' style = 'padding-left: 0px'>
                <button class='btn btn-default add-blog-button'> Add </button>
              </div>
            </div>
            <div class = 'row add-blog' hidden = 'true'>
              <div class = 'row' >
                <div class = 'col-lg-10 col-md-10'>
                  <h2>New Blog</h2>
                </div>
              </div>
              <%= form_tag("/blog/add_blog", {method: 'post', id: 'add_blog'}) do |f|%>
                <div class="form-group col-md-12" style = 'padding-left: 0px'>
                  <%= text_field_tag(:blog_title, nil, {class: 'form-control', placeholder: 'Title'}) %> 
                </div>
                <div class="form-group col-md-12" style = 'padding-left: 0px'>
                  <%= text_area_tag(:blog_content, nil, class: "form-control", rows: '25', placeholder: 'Content') %>
                </div>
                <div class="col-md-1" style = 'padding-left: 0px'>
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              <% end %>
              <div class = 'col-md-11'>
                <button class="btn btn-default">Preview</button>
                <button class="btn btn-default" id = 'cancel-blog-button-add' style = 'float: right'>Cancel</button>
              </div>
            </div>
            <div class = 'row edit-blog' hidden = 'true'>
              <div class = 'row'>
                <div class = 'col-lg-10 col-md-10 test'>
                  <h2>Edit Blog</h2>
                </div>
              </div>
              <%= form_tag("/blog/edit_blog", {method: 'post', id: 'edit_blog'}) do |f|%>
                <div class="form-group col-md-12" style = 'padding-left: 0px'>
                  <%= text_field_tag(:edit_blog_title, nil, {class: 'form-control', placeholder: 'Title'}) %> 
                </div>
                <div class="form-group col-md-12" style = 'padding-left: 0px'>
                  <%= text_area_tag(:edit_blog_content, nil, class: "form-control", rows: '25', placeholder: 'Content') %>
                </div>
                <div class="form-group col-md-12" style = 'padding-left: 0px' hidden = true>
                  <%= text_field_tag(:edit_blog_id, nil, {class: 'form-control'}) %> 
                </div>
                <div class="col-md-1" style = 'padding-left: 0px'>
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              <%end%>
              <div class = 'col-md-11'>
                <button class="btn btn-default">Preview</button>
                <button class='btn btn-default cancel-blog-button' id = 'cancel-blog-button-edit' style = 'float: right'>Cancel</button>
              </div>
            </div>
            <% Blog.all.reverse.each do |b| %>
              <%= render :partial => 'blog_template', :locals => {blog_id: b.id, blog_title: b.title, blog_content: b.content, blog_upload_time: b.created_at}%>
            <% end %>
          </div>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled">
                      <li><a href="#">Category Name</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>

        </div>

      </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Joy Realtor 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>