<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>
    <%= render partial: "header" %>
    <script>
    $(document).ready(function(){
      var selected_bid = null;
      <% @blogs.each do |b| %>
        $('#blog-content-<%=b.id%>').html($('#blog-content-<%=b.id%>').text());
      <% end %>
      $('.add-blog-button').on('click', function(){
        $('.add-blog').show()
      });
      $('#cancel-blog-button-add').on('click', function(){
        $('.add-blog').hide()
      });
      $('.edit-blog-button').on('click', function(){
        id_array = $(this).attr('id').split('-')
        selected_bid = id_array[id_array.length-1]
        $('#edit-blog-'+selected_bid).show()
        $('#blog-'+selected_bid).hide()
        $('#edit_blog_title_'+selected_bid).val($('#blog-title-'+selected_bid).text().trim())
        $('#edit_blog_content_'+selected_bid).val($('#blog-content-'+selected_bid).html().trim())
        $('#edit_blog_id_'+selected_bid).val(selected_bid)
      });
      $('.cancel-blog-button-edit').on('click', function(){
        $('.edit-blog').hide()
        $('#blog-'+selected_bid).show()
      });
    });
    </script>
    <style>
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    </style>
</head>

<body>
  <%= render partial: 'header_banner' %>
  </br>
  </br>
    <div class = 'container'>
      
    </div>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class='row'>
            <div class = 'row'>
              <div class = 'col-lg-3 col-md-3' style = 'padding-left: 0px'>
                <button class='btn btn-lg btn-block btn-info add-blog-button'> Add New Blog </button>
              </div>
            </div>
            <br>
            <div class = 'row add-blog panel panel-default' hidden = 'true'>
            <div class = 'panel-body'>
              <div class = 'row' >
                <div class = 'col-lg-10 col-md-10'>
                  <h2>New Blog</h2>
                </div>
              </div>
              <%= form_tag('/add_blog', {method: 'post', id: 'add_blog'}) do |f|%>
                <div class="form-group col-md-12" style = 'padding-left: 0px'>
                  <%= text_field_tag(:blog_title, nil, {class: 'form-control', placeholder: 'Title'}) %> 
                </div>
                <div class="form-group col-md-12" style = 'padding-left: 0px'>
                  <%= text_area_tag(:blog_content, nil, class: "form-control", rows: '25', placeholder: 'Content') %>
                </div>
                <div class="col-md-1" style = 'padding-left: 0px'>
                  <button type="submit" class="btn btn-info">Submit</button>
                </div>
              <% end %>
              <div class = 'col-md-11'>
                <button class="btn btn-info">Preview</button>
                <button class="btn btn-danger" id = 'cancel-blog-button-add' style = 'float: right'>Cancel</button>
              </div>
            </div>
            </div>
            
            <% @blogs.each do |b| %>
              <%= render :partial => 'blog_template', :locals => {blog_id: b.id, blog_title: b.title, blog_content: b.content, blog_upload_time: b.created_at, blog_row_num: b.content.count("\n")+5}%>
            <% end %>
          </div>
          <div class="pagination">
            <ul>
              <li class="previous"><a href="/blog?current_page=<%=(@current_page-1 > 1) ? (@current_page-1) : 1%>" class="fui-arrow-left"></a></li>
              <% last_page = 1%>
              <% @num_of_pages.times do |i| %>
                <% if i == @current_page-1%>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                <% last_page +=1 %>
                <a href="/blog?current_page=<%=i+1%>"><%=i+1%></a></li>
              <% end %>
              <li class="next"><a href="/blog?current_page=<%=(@current_page+1 < last_page) ? (@current_page+1) : last_page-1%>" class="fui-arrow-right"></a></li>
            </ul>
          </div> <!-- /pagination -->
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

        </div>

      </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
          <div class="row">
            <div class="col-lg-12">
              <p>Copyright &copy; Joy Realtor 2015</p>
            </div>
          </div>
          <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>