<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Joy Real Estate</title>

    <%= render partial: "header" %>
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <div class="col-md-4">
          <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11377072_10155726128090226_2441978611903322808_n.jpg?oh=99d9710fb0e6bc47d726ace9a628b706&oe=5608DF53" class="img-rounded" alt="Cinque Terre" width="304" height="236">
          <ul>
            <li><label>Name: Joy Chen</label></li>
            <li><label>Phone: xxx-xxx-xxxx </label></li>
            <li><label>Email: joy_chen@gmail.com </label></li>
          </ul>
        </div>
        
        <div class="col-md-8">
          <%= form_tag("/main/send_email", method: "get") do |f|%>
            <div class="form-group">
              <label for="desiredPropertyLocation">Desired Property Location</label>
              <div class="row">
                <div class ="col-md-5">
                  <label for="desiredStreetAddress">Address </label>
                  <%= text_field_tag(:desired_st_addr, nil, {class: 'form-control', placeholder: 'Street address'}) %>
                </div>
                <div class ="col-md-3">
                   <label for="desiredCity">City </label>
                  <%= text_field_tag(:desired_city, nil, {class: 'form-control', placeholder: 'San Francisco'}) %>
                </div>
                <div class ="col-md-2">
                  <label for="desiredState">State </label>
                  <%= select_tag(:desired_state, options_for_select(MainController.us_states), {class: "form-control"}) %>
                </div>
                <div class ="col-md-2">
                  <label for="desiredZip">ZIP </label>
                  <%= text_field_tag(:desired_zip, nil, {class: 'form-control', placeholder: '94100'}) %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="acceptableDistance">Acceptable Distance ( Miles)</label>
              <div class= 'row'>
              <div class='col-md-2'>
              <%= select_tag(:acceptable_dist, options_for_select([[5,5],[20,20],[50,50],[100,100]]), {class: "form-control"}) %> 
              </div>
              </div>
            </div>
            <div class="form-group">
              <label for="priceRange">Price Range</label>
              <%= text_field_tag(:price_range, nil, {class: 'form-control', placeholder: '$100000 - $200000'}) %> 
            </div>
            <div class="form-group">
              <label for="size">Size</label>
              <%= text_field_tag(:size, nil, {class: 'form-control', placeholder: 'Square Feets/ Square Meters'}) %> 
            </div>
            <div class="form-group row">
              <label class="col-md-4">
                Single Family <%= check_box_tag( 'single_family', nil, nil) %>
              </label>
              <label class="col-md-4">
                Condo <%= check_box_tag( 'condo', nil, nil) %>
              </label>
              <label class="col-md-4">
                MultiUnits <%= check_box_tag( 'multiunits', nil, nil) %>
              </label>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label >Additional Information </label>
                <%= text_area_tag(:additional_info, nil, class: "form-control", row: "5") %>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          <% end %>
        </div>
      </div>
      
    </div>
  </body>
</html>