<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Joy Real Estate</title>
    <%= render partial: "header" %>
    <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js'></script>
    <script>
    if (typeof google === 'undefined') {
      $.getScript('https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=test')
    }else{
      google = null
      $.getScript('https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initialize')
    }
    var geocoder;
    var map;
    var marker
    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(37.773972, -122.431297);
      var mapOptions = {
        zoom: 10,
        center: latlng
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress(address) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (typeof marker !== 'undefined'){
            marker.setMap(null);
          }
          map.setCenter(results[0].geometry.location);
          map.setZoom(14);
          marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
    function test(){
      google.maps.event.addDomListener(window, 'load', initialize);
    }

    var area_listing_count = 1
    var modal_status = <%=raw @sent ? "\"show\"" : "\"hide\"" %>
    $(document).ready(function(){
      $('#survey_form').validate({
        rules: {
            name: {
              minlength: 10,
              required: true
            },
            email: {
              required: true
            },
            desired_st_addr: {
              required: true
            },
        },
        highlight: function (element) {
            $(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function (element) {
            element.text('OK!').addClass('valid').closest('.control-group').removeClass('error').addClass('success');
        }
      });
      $('#first_modal').modal(modal_status);
      var area_selecting_section = generate_area_listing();
      $('#area_listing').html(area_selecting_section);
      var district_id = '#district__' + area_listing_count
      var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Francisco')), {class: 'form-control desired_district'}))%>"
      district_list = district_list.replace(/__/g, '__'+ area_listing_count);
      $(district_id).html(district_list);
      area_listing_count ++
      $('#sm_district').css({display: "none"});
      $( "#plus_button" ).click(function() {
        var area_selecting_section = generate_area_listing();
        $('#area_listing').append(area_selecting_section)
        var district_id = '#district__' + area_listing_count
        var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Francisco')), {class: 'form-control desired_district'}))%>"
        district_list = district_list.replace(/__/g, '__'+ area_listing_count);
        $(district_id).html(district_list);
        area_listing_count ++
        desired_city_on_change();
        desired_district_on_change();
      });
      desired_city_on_change();
      desired_district_on_change();
    });
    function desired_city_on_change(){
      $('.desired_city').change(function(){
        desired_city_id = '#' + $(this).attr('id')
        current_count = desired_city_id.split('__')[1]
        if ($(desired_city_id).find(':selected').text()== 'San Francisco'){
          var district_id = '#district__' + current_count
          var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Francisco')), {class: 'form-control desired_district'}))%>"
          district_list = district_list.replace(/__/g, '__'+ current_count);
          $(district_id).html(district_list);
          codeAddress($(district_id+" option:first").val());
        }else if ($(desired_city_id).find(':selected').text()== 'San Mateo'){
          var district_id = '#district__' + current_count
          var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Mateo')), {class: 'form-control desired_district'}))%>"
          district_list = district_list.replace(/__/g, '__'+ current_count);
          $(district_id).html(district_list);
          codeAddress($(district_id+" option:first").val());
        }
        desired_district_on_change();
      });
      $('.desired_city').click(function(){
        desired_city_id = '#' + $(this).attr('id')
        current_count = desired_city_id.split('__')[1]
        var district_id = '#district__' + current_count
        codeAddress($(district_id).find(':selected').val());
      });
    }
    function desired_district_on_change(){
      $('.desired_district').change(function(){
        desired_district_id = '#' + $(this).attr('id')
        codeAddress($(desired_district_id).find(':selected').val());
      });
    }
    function generate_area_listing(){
      var area_selecting_section = "<%=escape_javascript(render(partial: 'area_listing'))%>"
      area_selecting_section = area_selecting_section.replace(/__/g, '__'+ area_listing_count);
      return area_selecting_section
    }
    </script>
    <style>
      .navbar {
          margin-bottom: 0px;
          height: 54px;
/*          width: 100%;
          position: fixed;*/
        }
      .header-photo {
        position: relative;
        height: 600px;
        background-image: 
          linear-gradient(
            rgba(255, 255, 255, 0.6), 
            rgba(255, 255, 255, 0.6) 
          ),
          url(https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/s2048x2048/11713675_1426113117716520_5197799917165578876_o.jpg);
        background-size: auto 800px;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden; 
      }
      .logo {
        height: 300px;
        width: 100%;
        background-image: url(../assets/header.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 20%;
        /*margin-top: -50px; */
      }
    </style>
  </head>
  <body>
    <header>
      <div class = 'header-photo'>
      </div>
      <div class = 'logo'>
      </div>
    </header>
    </br>
    </br>
    <div class = "container">
      <div class = "row">
        <div class="col-md-4">
          <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11377072_10155726128090226_2441978611903322808_n.jpg?oh=99d9710fb0e6bc47d726ace9a628b706&oe=5608DF53" class="img-rounded" alt="Cinque Terre" width="304" height="236">
          <ul>
            <li><label>Name: Joy Chen</label></li>
            <li><label>Phone: xxx-xxx-xxxx </label></li>
            <li><label>Email: joy_chen@gmail.com </label></li>
          </ul>
        </div>
        
        <div class="col-md-5">
          <%= form_tag("/main/send_email", {method: "get", id: "survey_form"}) do |f|%>
            <div class="form-group">
              <!-- <label for="name">Name</label> -->
              <%= text_field_tag(:name, nil, {class: 'form-control', placeholder: 'Name'}) %> 
            </div>
            <div class="form-group">
              <!-- <label for="email">E-Mail</label> -->
              <%= text_field_tag(:email, nil, {class: 'form-control', placeholder: 'Email'}) %> 
            </div>
            <div class="form-group row">
              <div class="col-md-9" id='area_listing'>
              </div>
              <div class="col-md-1">
                <!-- <label><br></label> -->
                <button type="button" class="btn btn-default btn-number" id = "plus_button" data-type="plus">
                    <span class="glyphicon glyphicon-plus"></span><b> More</b>
                </button>
              </div>
            </div>
            <div class="form-group">
              <!-- <label for="priceRange">Price Range</label> -->
              <%= text_field_tag(:price_range, nil, {class: 'form-control', placeholder: 'Price Range: $100000 - $200000'}) %> 
            </div>
            <div class="form-group">
              <!-- <label for="size">Size</label> -->
              <%= text_field_tag(:size, nil, {class: 'form-control', placeholder: 'Size: 1000 squre feet'}) %> 
            </div>
            <div class="form-group row">
              <label class="col-md-4">
                Single Family <%= check_box_tag( 'single_family', nil, nil) %>
              </label>
              <label class="col-md-4">
                Condo <%= check_box_tag( 'condo', nil, nil) %>
              </label>
              <label class="col-md-4">
                MultiUnits <%= check_box_tag( 'multiunits', nil, nil) %>
              </label>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <!-- <label >Additional Information </label> -->
                <%= text_area_tag(:additional_info, nil, class: "form-control", row: "5", placeholder: 'Additional Information') %>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          <% end %>
        </div>
      </div>
      <div class="modal" id="first_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header alert alert-success">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Thank you!</h4>
            </div>
            <div class="modal-body">
              <p>Your response has been submitted. We will try our best to respond you within a week.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id ="close_modal" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class ="row" style='width: 100%;'>
        <div id="map" class="col-lg-12 col-md-12 col-sm-12" style='width: 100%; height: 400px;'></div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Joy Realtor 2015</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>