<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Joy Real Estate</title>
    <%= render partial: "header" %>
    <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js'></script>
    <script>
    if (typeof google !== 'undefined') {
      google = null
    }
    $.getScript('https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=initialize')
    var geocoder;
    var map;
    var marker
    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(37.773972, -122.431297);
      var mapOptions = {
        zoom: 10,
        center: latlng
      }
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
    function codeAddress(address) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (typeof marker !== 'undefined'){
            marker.setMap(null);
          }
          map.setCenter(results[0].geometry.location);
          map.setZoom(14);
          marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
    function test(){
      setTimeout(function(){
        google.maps.event.addDomListener(window, 'load', initialize);
      },1000);
    }

    var area_listing_count = 1
    var modal_status = <%=raw @sent ? "\"show\"" : "\"hide\"" %>
    $(document).ready(function(){
      setTimeout(function(){
        $('#survey_form').validate({
          rules: {
              name: {
                minlength: 10,
                required: true
              },
              email: {
                required: true
              },
              desired_st_addr: {
                required: true
              },
          },
          highlight: function (element) {
              $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          success: function (element) {
              element.text('OK!').addClass('valid').closest('.control-group').removeClass('error').addClass('success');
          }
        });
      }, 500);
      $('#first_modal').modal(modal_status);
      var area_selecting_section = generate_area_listing();
      $('#area_listing').html(area_selecting_section);
      var district_id = '#district__' + area_listing_count
      var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Francisco')), {class: 'form-control desired_district'}))%>"
      district_list = district_list.replace(/__/g, '__'+ area_listing_count);
      $(district_id).html(district_list);
      area_listing_count ++
      $('#sm_district').css({display: 'none'});
      $( '#plus_button' ).click(function() {
        var area_selecting_section = generate_area_listing();
        $('#area_listing').append(area_selecting_section)
        var district_id = '#district__' + area_listing_count
        var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Francisco')), {class: 'form-control desired_district'}))%>"
        district_list = district_list.replace(/__/g, '__'+ area_listing_count);
        $(district_id).html(district_list);
        area_listing_count ++
        desired_city_on_change();
        desired_district_on_change();
      });
      desired_city_on_change();
      desired_district_on_change();
    });
    function desired_city_on_change(){
      $('.desired_city').change(function(){
        desired_city_id = '#' + $(this).attr('id')
        current_count = desired_city_id.split('__')[1]
        if ($(desired_city_id).find(':selected').text()== 'San Francisco'){
          var district_id = '#district__' + current_count
          var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Francisco')), {class: 'form-control desired_district'}))%>"
          district_list = district_list.replace(/__/g, '__'+ current_count);
          $(district_id).html(district_list);
          codeAddress($(district_id+" option:first").val());
        }else if ($(desired_city_id).find(':selected').text()== 'San Mateo'){
          var district_id = '#district__' + current_count
          var district_list = "<%=escape_javascript(select_tag(:desired_district__, options_for_select(District.districts('San Mateo')), {class: 'form-control desired_district'}))%>"
          district_list = district_list.replace(/__/g, '__'+ current_count);
          $(district_id).html(district_list);
          codeAddress($(district_id+" option:first").val());
        }
        desired_district_on_change();
      });
      $('.desired_city').click(function(){
        desired_city_id = '#' + $(this).attr('id')
        current_count = desired_city_id.split('__')[1]
        var district_id = '#district__' + current_count
        codeAddress($(district_id).find(':selected').val());
      });
    }
    function desired_district_on_change(){
      $('.desired_district').change(function(){
        desired_district_id = '#' + $(this).attr('id')
        codeAddress($(desired_district_id).find(':selected').val());
      });
    }
    function generate_area_listing(){
      var area_selecting_section = "<%=escape_javascript(render(partial: 'area_listing'))%>"
      area_selecting_section = area_selecting_section.replace(/__/g, '__'+ area_listing_count);
      return area_selecting_section
    }
    </script>
  </head>
  <body>
    <%= render partial: 'header_banner' %>
    </br>
    </br>
    <div class = "container">
      <div class = "row">
        <div class="col-md-6" style='padding-top: 2%'>
          <div class='well well-lg' style = 'padding-bottom: 20%; padding-top: 10%;'>
            <h1 style = 'padding-bottom: 5%'><center style = 'font-family: Arial Black'> Tell us about your Dream House! <center></h1>
            <h4> <center style = 'font-family: Comic Sans MS;'> We will research your dream house for you and email back to you as soon as possible. Cost Free!</center></h4>
          </div>
        </div>
        
        <div class="col-md-6">
          <%= form_tag("/main/send_email", {method: "get", id: "survey_form"}) do |f|%>
            <div class="form-group">
              <%= text_field_tag(:name, nil, {class: 'form-control', placeholder: 'Name'}) %> 
            </div>
            <div class="form-group">
              <%= text_field_tag(:email, nil, {class: 'form-control', placeholder: 'Email'}) %> 
            </div>
            <div class="form-group">
            <div class= 'row'>
              <div class="col-md-10" id='area_listing'>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-info" id = "plus_button" data-type="plus" style='padding:6px 7px;'>
                  <span class="glyphicon glyphicon-plus"></span><b> more</b>
                </button>
              </div>
            </div>
            </div>
            <div class="form-group">
              <!-- <label for="priceRange">Price Range</label> -->
              <%= text_field_tag(:price_range, nil, {class: 'form-control', placeholder: 'Price Range: $100000 - $200000'}) %> 
            </div>
            <div class="form-group">
              <!-- <label for="size">Size</label> -->
              <%= text_field_tag(:size, nil, {class: 'form-control', placeholder: 'Size: 1000 squre feet'}) %> 
            </div>
            <div class="form-group">
            <div class= 'row' >
              <label class="col-md-4">
                <center>Single Family <%= check_box_tag( 'single_family', nil, nil) %></center>
              </label>
              <label class="col-md-4">
                <center>Condo <%= check_box_tag( 'condo', nil, nil) %></center>
              </label>
              <label class="col-md-4">
                <center>MultiUnits <%= check_box_tag( 'multiunits', nil, nil) %></center>
              </label>
            </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <!-- <label >Additional Information </label> -->
                <%= text_area_tag(:additional_info, nil, class: "form-control", row: "5", placeholder: 'Additional Information') %>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          <% end %>
        </div>
      </div>
      <div class="modal" id="first_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style= 'padding-top: 17%'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header alert alert-success">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Thank you!</h4>
            </div>
            <div class="modal-body">
              <p>Your response has been submitted. We will try our best to respond you within a week.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id ="close_modal" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class ="row">
        <div id="map" class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10" style='height: 400px;'></div>
      </div>
    </div>
  </body>
<footer>
<div class="container" style = 'margin-top: 10%'>
  <div class="row">
    <div class="col-md-12">
      <p>Copyright &copy; Joy Realtor 2015</p>
    </div>
  </div>
</div>
</footer>
</html>