<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello Joy!
    </p>
    <p>Here is your user survey's response:</p>
    <p>Desired Address: </p>
    <% @locations.each_with_index do |l, i| %>
      <p>Location <%=i+1 %>: <%=l[:district]%></p>
    <% end %>
    <p>Price Range: <%=@price_range%></p>
    <p>Size: <%=@size%></p>
    <p>Target Type: <%=@desired_property_type%></p>
    <p>Additional Information: <%= @additional_info%> </p>
  </body>
</html>